{% extends 'base.html' %}
{% block title %} Train input {% endblock %}

{% block content %}
<h1>Train input</h1>
<div class="row">
    <div class="col-md-4">
        <form action="{{action}}" method="post"> {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                <p>{{ field.label_tag }} {{ field }}</p>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-dark">Save</button>
        </form>
    </div>
</div>


{% endblock %}
