{% extends 'base.html' %}
{% block title %} Trains {% endblock %}

{% block content %}
<h1>Trains list</h1>
<div class="row">
    <div class="col-md-4 my-2">
        <table class="table table-striped">
            <tr>
                <th>Number</th>
                <th>Departs from</th>
                <th>Arrives to</th>
                <th>Duration time</th>
                <th>&nbsp</th>
                <th>&nbsp</th>
            </tr>
            {% for object in page_obj %}

            <tr>
                <td><a href="{% url 'trains:details' pk=object.id%}" style="text-decoration:none;">{{object.name}}</a></td>
                <td>{{object.departs_from}}</td>
                <td>{{object.arrives_to}}</td>
                <td>{{object.travel_time}}</td>
                <td><a href="{% url 'trains:update' pk=object.pk%}" style="text-decoration:none;">
                    <button type="submit" class="btn btn-dark">Edit</button>
                </a></td>
                <td><a href="{% url 'trains:delete' pk=object.pk%}" style="text-decoration:none;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </a></td>

            </tr>
            {% endfor %}
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                <li class="page-item {% ifequal page page_obj.number %} active {% endifequal %}" aria-current="page">
                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {#<a href="{% url 'trains:create'%}" class="btn btn-dark"> Add another train </a>#}
    </div>
</div>
{% endblock %}
